body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#image-container {
  width: 400px;
  height: 550px;
  margin: auto;
  position: relative;
  top: 13vh;
  overflow: hidden;
  border-radius: 30px;
}

#main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

#image-overlay:hover {
  background: rgba(0, 0, 0, 0.3) 100%;
}

#save-button {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  padding-top: 20px;
  position: absolute;
  top: 5%;
  left: 70%;
  color: white;
  background-color: #e60022;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  transform: translateY(-100px);
  cursor: pointer;
  user-select: none;
}

#image-container:hover #save-button {
  transform: translateY(0px);
  transition: 0.5s;
}

#lower-navigation {
  position: relative;
  bottom: 15%;
  display: flex;
  align-content: center;
  transform: translateY(100px);
  cursor: pointer;
  user-select: none;
}

#image-container:hover #lower-navigation {
  transform: translateY(0px);
  transition: 0.5s;
}

#image-link {
  font-size: 1.4em;
  background: rgb(255, 255, 255, 0.9);
  width: 175px;
  padding-top: 15px;
  border-radius: 50px;
  padding-left: 10px;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-icon {
  font-size: 2em;
  background: rgb(255, 255, 255, 0.9);
  margin-left: 13px;
  border-radius: 50%;
  padding: 10px;
}
